#Python
__pycache__/
*.py[cod]
*$py.class
*.so

#IDE - настройки редакторов кода
(настройки цвета, стилей редакторов - 
если загрузить их на github, 
у препода может сломаться редактор)
.idea/
.vscode/
*.swp
(Если редактор кода зависнет или выключится свет, 
он создает временный файл .swp, 
чтобы вы не потеряли текст. Это тоже мусор)

#OS
(ниже идут системные файлы Windows и Mac)
.DS_Store - на Mac хранит настройки внешнего вида
Thumbs.db - (Windows создает этот скрытый файл 
в папках с картинками, чтобы хранить миниатюры 
(превью). Он не нужен в коде). 


#Git
.git/
